.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    color: white;

}

.dialogsItem {
    padding: 5px 0;
    color: white;
}


.active {
    color: gold;
}

.dialog {
    padding: 5px;
    color: white;
}

.messages {

}

.message {
color: white;
}