.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 5px 0;
}


.active {
}

.dialog {
    padding: 5px;
    color: white;
}

.messages {

}

.message {
    color: white;
}

.dialogs  button {
    width: 100px;
    height: 25px;
}

